.box{
    padding: 20px 0px 20px 0px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 40px auto;
    width: 70%;
}

.height65{
    min-height: 65px !important;
}

.form-group {
    margin: 0% !important;
}

.margtop10{
    margin-top: 10px !important;
}